{% extends 'dashboard/users/layout.twig' %}

{% block content %}
<main>
    <h1 class="mb-5 fs-1">users dash</h1>

    <form action="/admin-dashboard/users" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ old.name }}">
            {{ errors.name | first }}
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{ old.email }}">
            {{ errors.email | first }}
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {{ errors.password | first }}
        </div>
        <div>
            <label for="userType">User Type</label>
            <select name="userType">
                <option selected disabled>Select User Type</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>

    <h2>All Users</h2>
    <table class="all-users admin-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </table>


    <h2>All Admins</h2>
    <table class="all-admins admin-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </table>

    <div id="edit-popup" class="edit-popup">
        <div class="popup-content">
            <span id="closePopupBtn" class="close">&times;</span>
            <h3>Edit Product</h3>

            <form method="POST">

                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <button type="submit">Submit</button>
            </form>

        </div>
    </div>


</main>
{% endblock %}